@charset "utf-8"; 

#admin_ask.hooms-N36 .contents-inner {
    padding: 0rem 0 10rem 0px;
}
#admin_ask.hooms-N36 .contents-search {
    margin-bottom: 1rem;
}

.state{
	font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    background: black;
    border: 0;
    font-weight: 500;
}
.tableset-ico{
	font-size: 1.8rem;
	font-weight: 500;
}