@charset "utf-8"; 

/* campland-N1 [OLLSN6oqdb] */
.campland-N1 { top: -100%; transition: .3s; width: 100%; z-index: 99; background-color: var(--white); }
.campland-N1.header-top-active { position: fixed; top: 0; }
.campland-N1 .header-container { position: relative; display: flex; align-items: center; justify-content: space-between; width: 100%; height: 8rem; padding: 0 5rem; background-color: var(--white); z-index: 200; }
.campland-N1 .header-title { margin-bottom: 0; }
.campland-N1 .header-title a { width: 16.3rem; height: 3.9rem; }
.campland-N1 .header-title img { width: 100%; height: 100%; object-fit: contain; }
.campland-N1 .header-center { position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
.campland-N1 .header-member { display: none; }
.campland-N1 .header-gnblist { display: flex; justify-content: center; }
.campland-N1 .header-gnblink { padding: 2.8rem 2rem; font-size: var(--fs-p2); font-weight: 500; text-align: center; white-space: nowrap; }
.campland-N1 .header-gnblink span { position: relative; }
.campland-N1 .header-gnblink span::after { content: ""; height: 0.2rem; width: 100%; transition: 0.3s; transform: scaleX(0); }
.campland-N1 .header-sublist { min-height: 0; position: absolute; top: 100%; transition: 0.3s; opacity: 0; overflow: hidden; pointer-events: none; }
.campland-N1 .header-gnbitem:hover .header-sublist { min-height: auto; opacity: 1; overflow: hidden; pointer-events: auto; }
.campland-N1 .header-gnbitem:hover .header-gnblink span::after { content: ""; display: inline-block; position: absolute; left: 0; top: 100%; background-color: var(--text-color1); transform: scaleX(1); }
.campland-N1 .header-subitem { width: 14rem; background-color: var(--white); overflow: hidden; }
.campland-N1 .header-sublink { width: 100%; padding: 1rem 2rem; font-size: var(--fs-p3); font-weight: 500; }
.campland-N1 .header-sublink:hover { background-color: var(--primary); color: var(--text-color6); }
.campland-N1 .header-right { display: flex; align-items: center; }
.campland-N1 .header-utils { display: flex; align-items: center; }
.campland-N1 .header-utils-btn { width: 3.2rem; height: 3.2rem; background: none; border: none; }
.campland-N1 .header-utils-btn+.header-utils-btn { margin-left: 1.6rem; }
.campland-N1 .header-utils-btn img { width: 100%; height: 100%; object-fit: contain; vertical-align: top; }
.campland-N1 .btn-momenu { display: none; }
.campland-N1 .btn-moclose { display: none; }
.campland-N1 .header-fullmenu { position: fixed; z-index: 99999; padding: 0 2.4rem; background-color: #000; transition: 0.3s; opacity: 0; visibility: hidden; overflow: hidden; }
.campland-N1 .header-fullmenu.fullmenu-right { width: 0; height: 100%; top: 0; right: 0; }
.campland-N1 .header-fullmenu.fullmenu-left { width: 0; height: 100%; top: 0; left: 0; }
.campland-N1 .header-fullmenu.fullmenu-top { top: 0; left: 0; width: 100%; height: 0; }
.campland-N1 .header-fullmenu.fullmenu-bottom { bottom: 0; left: 0; width: 100%; height: 0; }
.campland-N1 .header-fullmenu.fullmenu-active { width: 100%; height: 100vh; opacity: 1; visibility: visible; }
.campland-N1 .fullmenu-wrapper { position: relative; top: 50%; transform: translateY(-50%); width: 100%; max-width: 128rem; margin: 0 auto; }
.campland-N1 .fullmenu-head { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10rem; }
.campland-N1 .fullmenu-title { margin-bottom: 0; }
.campland-N1 .fullmenu-title a { width: 13.6rem; height: 4.3rem; }
.campland-N1 .fullmenu-title img { width: 100%; height: 100%; object-fit: contain; }
.campland-N1 .fullmenu-member { display: flex; }
.campland-N1 .fullmenu-member li { position: relative; }
.campland-N1 .fullmenu-member li a { padding: 1.2rem; font-size: var(--fs-p1); font-weight: 500; color: var(--text-color6); }
.campland-N1 .fullmenu-member li+li::after { content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.1rem; height: 1.4rem; background-color: rgba(255, 255, 255, 0.2); }
.campland-N1 .fullmenu-gnblist { display: flex; justify-content: center; }
.campland-N1 .fullmenu-gnbitem { width: 20%; }
.campland-N1 .fullmenu-gnbitem+.fullmenu-gnbitem { margin-left: 4rem; }
.campland-N1 .fullmenu-gnblink { position: relative; width: 100%; padding-bottom: 4rem; font-size: var(--fs-h5); font-weight: 500; color: var(--text-color6); border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.campland-N1 .fullmenu-gnblink::after { content: ""; position: absolute; left: 0; bottom: 0; display: block; width: 0; height: 0.1rem; background-color: #ffffff; transition: 0.2s; }
.campland-N1 .fullmenu-gnblink.on::after { width: 18rem; }
.campland-N1 .fullmenu-sublist { padding-top: 4rem; }
.campland-N1 .fullmenu-subitem+.fullmenu-subitem { padding-top: 0.8rem; }
.campland-N1 .fullmenu-sublink { font-size: var(--fs-p1); font-weight: 400; color: #a2a2a2; }
.campland-N1 .fullmenu-close { position: fixed; right: 5rem; top: 2.4rem; width: 3.2rem; height: 3.2rem; background-color: transparent; border: none; }
.campland-N1 .fullmenu-close img { width: 100%; height: 100%; object-fit: cover; }
@media (max-width: 992px) {
 .campland-N1.block-active .header-center { position: absolute; left: 0; transform: translateX(0); width: 100%; padding: 0 3.2rem 0 1.6rem; padding-bottom: 19rem; overflow-y: auto; background-color: #ffff; }
 .campland-N1.block-active .header-title { height: 6rem; display: flex; align-items: center; }
 .campland-N1.block-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .campland-N1.block-active .header-member a { padding: 0; background: none; border: none; padding-right: 1.2rem; }
 .campland-N1.block-active .header-member a+a { padding-left: 1.2rem; padding-right: 0; }
 .campland-N1.block-active .header-gnblist { display: block; height: 100%; }
 .campland-N1.block-active .header-gnblink { align-items: center; justify-content: space-between; border-bottom: 1px solid #e5e5e5; }
 .campland-N1.block-active .header-gnblink::after { content: ""; display: flex; width: 1.6rem; height: 1.6rem; background-image: url("../../resources/icons/ico_downarrow_black.svg"); background-repeat: no-repeat; background-position: center right; background-size: contain; transition: .3s; }
 .campland-N1.block-active .header-gnbitem.item-active .header-gnblink::after { content: ""; transform: rotate(180deg); }
 .campland-N1.block-active .header-member { display: flex; font-size: var(--fs-p2); }
 .campland-N1.block-active .header-utils-btn, .campland-N1.block-active .btn-momenu { display: none; }
 .campland-N1.block-active .btn-moclose { display: block; }
 .campland-N1 .header-container { padding: 0 1.6rem; height: 5.6rem; }
 .campland-N1 .header-title a { width: 9.8rem; height: 2.4rem; }
 .campland-N1 .header-center { top: 100%; left: 100%; transition: .3s; height: calc(100vh - 6rem); overflow-y: auto; }
 .campland-N1 .header-gnblist { display: none; width: 100%; flex-direction: column; }
 .campland-N1 .header-gnblink { display: flex; align-items: flex-end; width: 100%; padding: 2rem 0; text-align: left; }
 .campland-N1 .header-gnbitem:hover .header-gnblink span { border: none; }
 .campland-N1 .header-gnbitem:hover .header-gnblink span::after { content: none; }
 .campland-N1 .header-sublist { display: none; position: relative; opacity: 1; padding: 2rem 0 4rem 0; }
 .campland-N1 .header-gnbitem.item-active .header-gnblink { border-bottom: 1px solid #111111; }
 .campland-N1 .header-gnbitem.item-active .header-sublist { display: block; }
 .campland-N1 .header-subitem { width: 100%; }
 .campland-N1 .header-subitem+.header-subitem { padding-top: 0.8rem; }
 .campland-N1 .header-sublink { padding: 0; color: var(--text-color3); }
 .campland-N1 .header-sublink:active { color: #111111; }
 .campland-N1 .header-sublink:hover { background-color: #ffff; color: #111111; }
 .campland-N1 .header-utils-btn { width: 2.8rem; height: 2.8rem; }
 .campland-N1 .header-utils-btn+.header-utils-btn { margin-left: 0.8rem; }
 .campland-N1 .btn-allmenu, .campland-N1 .btn-search { display: none; }
 .campland-N1 .btn-momenu { display: block; }
 .campland-N1 .header-fullmenu { display: none; }
}

/* campland-N3 [LSlSn6OQr8] */
.campland-N3 .contents-container { overflow: hidden; }
.campland-N3 .contents-swiper { position: relative; }
.campland-N3 .swiper-wrapper { width: 100%; height: calc(100vh - 8rem); }
.campland-N3 .swiper-slide { position: relative; }
.campland-N3 .contents-backimg { width: 100%; height: 100%; object-fit: cover; }
.campland-N3 .contents-slide-group { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1; padding: 0 2.4rem; text-align: center; }
.campland-N3 .textset { text-align: left; }
.campland-N3 .textset-tit { color: var(--text-color6); }
.campland-N3 .textset-tit+.textset-desc { margin-top: 2rem; color: var(--text-color6); }
.campland-N3 .textset-tit .text-deco { position: relative; }
.campland-N3 .textset-tit .text-deco::after { content: ""; position: absolute; top: 50%; left: calc(100% + 4rem); transform: translateY(-50%); width: 100%; max-width: 15.8rem; height: 0.8rem; background-color: var(--primary); }
.campland-N3 .btnset { margin-top: 4rem; border-color: var(--white); color: var(--white); }
.campland-N3 .btnset:hover { background-color: var(--white); border-color: var(--white); color: var(--text-color1); }
.campland-N3 .contents-control { display: flex; align-items: center; position: absolute; left: 50%; transform: translateX(-50%); bottom: 4.5rem; z-index: 20; }
.campland-N3 .swiper-button-prev { left: 8.2rem; width: 5.4rem; height: 5.4rem; background-color: rgba(var(--black-rgb), 0.8); border-radius: 50%; }
.campland-N3 .swiper-button-prev:after { content: ""; width: 2.8rem; height: 2.8rem; background-image: url("../../resources/icons/ico_arrow_left_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.campland-N3 .swiper-button-prev:hover::after { opacity: 1; }
.campland-N3 .swiper-button-next { right: 8.2rem; width: 5.4rem; height: 5.4rem; background-color: rgba(var(--black-rgb), 0.6); border-radius: 50%; }
.campland-N3 .swiper-button-next:after { content: ""; width: 2.8rem; height: 2.8rem; background-image: url("../../resources/icons/ico_arrow_right_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.campland-N3 .swiper-button-next:hover::after { opacity: 1; }
.campland-N3 .swiper-pagination { position: relative; display: flex; align-items: center; gap: 5.6rem; left: 0; bottom: 0; margin-right: 1.6rem; }
.campland-N3 .swiper-pagination-bullet { position: relative; width: 1.6rem; height: 1.6rem; margin: 0 !important; background-color: rgba(var(--white-rgb), 0.3); opacity: 1; background-color: transparent; border: 2px solid var(--white); }
.campland-N3 .swiper-pagination-bullet+.swiper-pagination-bullet::before { content: ""; position: absolute; top: 50%; transform: translateY(-50%); right: calc(100% + 1.6rem); width: 0.4rem; height: 0.4rem; background-color: var(--white); border-radius: 50%; }
.campland-N3 .swiper-pagination-bullet+.swiper-pagination-bullet::after { content: ""; position: absolute; top: 50%; transform: translateY(-50%); right: calc(100% + 3.6rem); width: 0.4rem; height: 0.4rem; background-color: var(--white); border-radius: 50%; }
.campland-N3 .swiper-pagination-bullet-active { background-color: var(--white); }
.campland-N3 .swiper-button-play { display: none; }
.campland-N3 .swiper-button-play,.campland-N3 .swiper-button-pause { flex-shrink: 0; width: 2rem; height: 2rem; opacity: 0.5; cursor: pointer; }
.campland-N3 .swiper-button-play img,.campland-N3 .swiper-button-pause img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.campland-N3 .swiper-button-play:hover,.campland-N3 .swiper-button-pause:hover { opacity: 1; }
@media (max-width: 992px) {
 .campland-N3 .swiper-wrapper { height: 62rem; }
 .campland-N3 .textset-tit .text-deco::after { left: calc(100% + 1.6rem); max-width: 7.2rem; height: 0.3rem; }
 .campland-N3 .contents-control { bottom: 4rem; }
 .campland-N3 .swiper-pagination { gap: 0.8rem; margin-right: 0.8rem; }
 .campland-N3 .swiper-button-next, .campland-N3 .swiper-button-prev { display: none; }
 .campland-N3 .swiper-pagination-bullet { width: 0.8rem; height: 0.8rem; }
 .campland-N3 .swiper-pagination-bullet+.swiper-pagination-bullet::before, .campland-N3 .swiper-pagination-bullet+.swiper-pagination-bullet::after { content: none; }
 .campland-N3 .swiper-button-play, .campland-N3 .swiper-button-pause { width: 1.6rem; height: 1.6rem; }
}

/* campland-N10 [fmLSn6qZhU] */
.campland-N10 { overflow: hidden; }
.campland-N10 .contents-inner { padding: 8rem 1.6rem; }
.campland-N10 .contents-body { display: flex; justify-content: space-between; margin: 4rem 0 8rem 0; }
.campland-N10 .contents-left { position: relative; width: 50%; min-height: 56.3rem; }
.campland-N10 .contents-left .imageset { position: absolute; top: 0; left: 0; width: calc(50% + 20rem); height: 46rem; }
.campland-N10 .contents-left .imageset+.imageset { top: auto; left: auto; right: 0; bottom: 0; width: calc(50% + 10rem); height: 42rem; }
.campland-N10 .contents-right { width: calc(50% - 7.2rem); }
.campland-N10 .contents-group+.contents-group { margin-top: 2.8rem; padding-top: 2.8rem; border-top: 1px solid var(--line-color1); }
.campland-N10 .contents-subtit { font-size: var(--fs-h5); line-height: var(--lh-h5); font-weight: 500; }
.campland-N10 .contents-list { margin-top: 1.6rem; }
.campland-N10 .contents-item { display: flex; align-items: center; justify-content: space-between; gap: 1rem; font-size: var(--fs-p2); line-height: var(--lh-p2); }
.campland-N10 .contents-item span { display: inline-block; }
.campland-N10 .contents-button { text-align: center; }
@media (max-width: 992px) {
 .campland-N10 .contents-inner { padding: 3rem 1.6rem; }
 .campland-N10 .contents-body { flex-direction: column; margin: 2rem 0 4rem 0; }
 .campland-N10 .contents-left { width: 100%; min-height: 30rem; }
 .campland-N10 .contents-left .imageset { width: calc(100% - 8rem); height: 22.6rem; }
 .campland-N10 .contents-left .imageset+.imageset { width: calc(100% - 8.8rem); height: 24rem; }
 .campland-N10 .contents-right { width: 100%; margin-top: 4rem; }
}

/* campland-N11 [CzLSN6QWPF] */
.campland-N11 { overflow: hidden; }
.campland-N11 .contents-inner { margin: 8rem 0; padding: 10rem 1.6rem; background-color: var(--highlight-bg1); }
.campland-N11 .contents-body { display: flex; justify-content: space-between; margin: 4rem 0 8rem 0; }
.campland-N11 .contents-left { width: calc(50% - 7.2rem); }
.campland-N11 .contents-group+.contents-group { margin-top: 2.8rem; padding-top: 2.8rem; border-top: 1px solid var(--line-color1); }
.campland-N11 .contents-subtit { font-size: var(--fs-h5); line-height: var(--lh-h5); font-weight: 500; }
.campland-N11 .contents-list { margin-top: 1.6rem; }
.campland-N11 .contents-item { display: flex; align-items: center; justify-content: space-between; gap: 1rem; font-size: var(--fs-p2); line-height: var(--lh-p2); }
.campland-N11 .contents-item span { display: inline-block; }
.campland-N11 .contents-right { position: relative; width: 50%; min-height: 56.3rem; }
.campland-N11 .contents-right .imageset { position: absolute; right: 0; top: 0; width: calc(50% + 20rem); height: 46rem; }
.campland-N11 .contents-right .imageset+.imageset { top: auto; left: 0; bottom: 0; width: calc(50% + 10rem); height: 42rem; }
.campland-N11 .contents-button { text-align: center; }
@media (max-width: 992px) {
 .campland-N11 .contents-inner { margin: 3rem 0; padding: 4rem 1.6rem; }
 .campland-N11 .contents-body { flex-direction: column-reverse; }
 .campland-N11 .contents-left { width: 100%; margin-top: 4rem; }
 .campland-N11 .contents-right { width: 100%; min-height: 30rem; }
 .campland-N11 .contents-right .imageset { width: calc(100% - 8rem); height: 22.6rem; }
 .campland-N11 .contents-right .imageset+.imageset { width: calc(100% - 8.8rem); height: 24rem; }
}

/* campland-N4 [shlSn6OR8A] */
.campland-N4 { overflow: hidden; }
.campland-N4 .contents-inner { padding: 8rem 1.6rem; }
.campland-N4 .cardset.cardset-hor { position: relative; gap: 7.6rem; align-items: flex-start; }
.campland-N4 .cardset.cardset-hor+.cardset.cardset-hor { gap: 6.4rem; align-items: flex-end; margin-top: -16.4rem; }
.campland-N4 .cardset.cardset-hor .cardset-figure { flex-shrink: 0; width: 100%; max-width: 45.4rem; height: 56.2rem; }
.campland-N4 .cardset.cardset-hor+.cardset.cardset-hor .cardset-figure { max-width: 52.6rem; height: 57.4rem; }
.campland-N4 .cardset.cardset-hor+.cardset.cardset-hor .cardset-body { padding-bottom: 4rem; }
.campland-N4 .cardset.cardset-hor .cardset-desc { position: relative; margin-top: 2.8rem; padding-top: 2.8rem; }
.campland-N4 .cardset.cardset-hor .cardset-desc::before { content: ""; position: absolute; top: 0; width: 100%; max-width: 4.4rem; height: 0.2rem; background-color: var(--line-color4); }
.campland-N4 .cardset.cardset-hor .btnset { margin-top: 3.8rem; }
.campland-N4 .contents-backfigure { position: absolute; top: -19.9rem; left: 0; z-index: -1; width: calc(50% - 5rem); height: 29.1rem; margin-bottom: 0; }
.campland-N4 .contents-backimg { width: 100%; height: 100%; object-fit: cover; }
@media (max-width: 1200px) {
 .campland-N4 .cardset.cardset-hor .cardset-figure { width: 50%; }
}
@media (max-width: 992px) {
 .campland-N4 .contents-inner { padding: 3rem 1.6rem; }
 .campland-N4 .cardset.cardset-hor { gap: 4rem !important; align-items: flex-start !important; }
 .campland-N4 .cardset.cardset-hor+.cardset.cardset-hor { margin-top: 6rem; }
 .campland-N4 .cardset.cardset-hor .cardset-figure { width: 100% !important; max-width: 100% !important; height: 18rem !important; }
 .campland-N4 .cardset.cardset-hor+.cardset.cardset-hor .cardset-body { padding-bottom: 0; }
 .campland-N4 .cardset.cardset-hor .btnset { margin-top: 2.8rem; }
}

/* campland-N5 [jDLSn6ORDP] */
.campland-N5 { overflow: hidden; }
.campland-N5 .contents-inner { padding: 10rem 1.6rem; background-color: var(--highlight-bg1); }
.campland-N5 .cardset-wrap { justify-content: space-between; }
.campland-N5 .cardset-figure { width: 19rem; height: 19rem; padding: 3.5rem; border-radius: 50%; border: 1px solid var(--line-color1); }
.campland-N5 .cardset-body { padding-bottom: 0; }
.campland-N5 .cardset-tit { font-weight: 600; }
@media (max-width: 992px) {
 .campland-N5 .contents-inner { margin: 3rem 0; padding: 4rem 1.6rem; }
 .cardset.cardset-center .cardset-figure { width: 10rem; height: 10rem; padding: 1.5rem; }
}

/* campland-N6 [LtlsN6oRHp] */
.campland-N6 { overflow: hidden; }
.campland-N6 .contents-inner { padding: 8rem 1.6rem; }
.campland-N6 .contents-container { overflow: hidden; }
.campland-N6 .imageset { position: relative; z-index: -1; max-width: 68rem; height: 29rem; margin-bottom: -9.4rem; }
.campland-N6 .contents-swiper { position: relative; }
.campland-N6 .swiper-wrapper { width: 100%; }
.campland-N6 .swiper-slide { position: relative; }
.campland-N6 .contents-backimg { width: 100%; height: 100%; object-fit: cover; }
.campland-N6 .contents-slide-group { position: absolute; top: 0; right: 0; z-index: 1; width: 50%; height: 100%; background-color: rgba(17, 17, 17, 0.7); padding: 8rem; }
.campland-N6 .textset-tit { font-size: var(--fs-h4); line-height: var(--lh-h4); color: var(--text-color6); }
.campland-N6 .textset-desc { padding-top: 2.8rem; position: relative; font-size: var(--fs-p2); line-height: var(--lh-p2); color: #E1E1E1; }
.campland-N6 .textset-desc::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; max-width: 4.4rem; height: 0.2rem; background-color: var(--white); }
.campland-N6 .btnset { margin-top: 4rem; border-width: 0.2rem; }
.campland-N6 .swiper-button-prev,.campland-N6 .swiper-button-next { width: 5.4rem; height: 5.4rem; border-radius: 50%; }
.campland-N6 .swiper-button-prev { left: 4rem; }
.campland-N6 .swiper-button-next { right: 4rem; }
.campland-N6 .swiper-button-prev:after,.campland-N6 .swiper-button-next:after { content: ""; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: contain; opacity: 0.7; }
.campland-N6 .swiper-button-prev:after { background-image: url("../../resources/icons/ico_left_circle_white.svg"); }
.campland-N6 .swiper-button-next:after { content: ""; background-image: url("../../resources/icons/ico_right_circle_white.svg"); }
.campland-N6 .swiper-button-prev:hover::after,.campland-N6 .swiper-button-next:hover::after { opacity: 1; }
@media (max-width: 992px) {
 .campland-N6 .contents-inner { padding: 3rem 1.6rem; }
 .campland-N6 .swiper-wrapper { height: 45rem; }
 .campland-N6 .contents-slide-group { top: auto; bottom: 0; width: 100%; height: auto; padding: 2.8rem 1.6rem; }
 .campland-N6 .textset-desc { padding-top: 1.6rem; }
 .campland-N6 .btnset { margin-top: 2.8rem; }
 .campland-N6 .swiper-button-next, .campland-N6 .swiper-button-prev { display: none; }
}

/* campland-N7 [CJLSN6orMr] */
.campland-N7 { overflow: hidden; }
.campland-N7 .contents-container { margin-top: 8rem; }
.campland-N7 .root_daum_roughmap { width: 100%; }
.campland-N7 .root_daum_roughmap .wrap_map { height: 50rem; }
.campland-N7 .root_daum_roughmap .wrap_controllers { display: none; }
@media (max-width: 992px) {
 .campland-N7 .contents-container { margin-top: 3rem; }
 .campland-N7 .root_daum_roughmap .wrap_map { height: 24rem; }
}

/* campland-N2 [WLlsn6ORqs] */
.campland-N2 { overflow: hidden; background-color: var(--line-color4); }
.campland-N2 .footer-container { padding: 1.8rem 5rem 2.4rem 5rem; }
.campland-N2 .footer-top { display: flex; justify-content: space-between; position: relative; margin-bottom: 1.6rem; }
.campland-N2 .footer-logo { text-align: center; margin-bottom: 0; }
.campland-N2 .footer-logo a { width: 13rem; height: 3.2rem; }
.campland-N2 .footer-logo img { width: 100%; height: 100%; object-fit: contain; }
.campland-N2 .footer-menulist { display: flex; align-items: center; justify-content: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: var(--fs-p4); }
.campland-N2 .footer-menuitem a { padding-right: 1.2rem; color: var(--text-color6); }
.campland-N2 .footer-menuitem+.footer-menuitem a { padding-left: 1.2rem; }
.campland-N2 .footer-menuitem { position: relative; }
.campland-N2 .footer-menuitem+.footer-menuitem::after { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 1.4rem; background-color: rgba(var(--white), 0.1); }
.campland-N2 .footer-snslist { display: flex; align-items: center; }
.campland-N2 .footer-snsitem+.footer-snsitem { margin-left: 0.8rem; }
.campland-N2 .footer-snslink { width: 3.6rem; height: 3.6rem; padding: 0.6rem; }
.campland-N2 .footer-snslink img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.campland-N2 .footer-bottom { padding-top: 2.4rem; border-top: 1px solid rgba(255, 255, 255, 0.1); }
.campland-N2 .footer-bottom .footer-logo { display: none; margin-bottom: 1.2rem; text-align: left; }
.campland-N2 .footer-txt { display: flex; justify-content: center; color: var(--text-color4); font-size: 1.2rem; line-height: 2.4rem; }
.campland-N2 .footer-txt+.footer-txt { margin-top: 0.3rem; }
.campland-N2 .footer-txt p { margin-bottom: 0; line-height: 1.8rem; }
.campland-N2 .footer-txt p+p { margin-left: 0.8rem; }
.campland-N2 .footer-txt p span+span { margin-left: 0.8rem; }
@media (max-width: 992px) {
 .campland-N2 .footer-container { padding: 4rem 1.6rem; }
 .campland-N2 .footer-top { margin-bottom: 0; flex-direction: column; align-items: flex-start; }
 .campland-N2 .footer-logo { display: none; }
 .campland-N2 .footer-logo a { width: 10.9rem; height: 2.6rem; }
 .campland-N2 .footer-menulist { position: relative; left: 0; transform: translate(0); margin-top: 1.3rem; }
 .campland-N2 .footer-menuitem a { padding-right: 0.8rem; }
 .campland-N2 .footer-menuitem+.footer-menuitem a { padding-left: 0.8rem; }
 .campland-N2 .footer-snslist { margin: 2.4rem 0 1.6rem 0; justify-content: center; }
 .campland-N2 .footer-bottom { text-align: left; }
 .campland-N2 .footer-bottom .footer-logo { display: block; }
 .campland-N2 .footer-txt { flex-direction: column; }
 .campland-N2 .footer-txt p+p { margin-left: 0; }
}

/* List */
/* glamping-N9 [MlLSD4d7Fl] */
.glamping-N9 { overflow: hidden; }
.glamping-N9 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N9 .contents-container { position: relative; overflow: hidden; }
.glamping-N9 .contents-top{display: flex; justify-content: space-between; align-items: flex-end;}
.glamping-N9 .textset {width:100%; margin-bottom: 0;}
.glamping-N9 .textset-tit+.textset-desc {margin-top: 1rem;}
.glamping-N9 .inputset {display: flex; justify-content: center; align-items: center; width: 100%;}
.glamping-N9 .inputset-input {width: 70%;}
.inputset.inputset-lg .inputset-icon.icon-right + .inputset-input:placeholder{font-size: 1.4rem !important;}
.glamping-N9 .inputset.inputset-lg .inputset-input{height: 4rem;}
.glamping-N9 .selectset {width: 30%; margin-right: 10px;}
.glamping-N9 .selectset.selectset-lg .btn{height: 4rem; font-size: 1.4rem; font-weight: 500;}
.glamping-N9 .tabset-text {display: flex; justify-content: right; margin: 2rem 0;}
.glamping-N9 .cardset-wrapper{position: relative; display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start; gap: 2rem;}
.glamping-N9 .swiper-slide { width: 40rem; margin-right: 4rem; }
.glamping-N9 .cardset{width: 23.8%; height: calc(100% - 6.8rem); padding: 2rem; border-radius: 1rem; border: 1px solid #eee; background-color: #f9f9f9;}
.glamping-N9 .cardset .work-logo{position: absolute; top: 0; right: 2rem; max-width: 10rem; height: 4rem; padding: 1rem; border-radius:  0 0 1rem 1rem; background: #fff; display: flex; justify-content: center; align-items: center;}
.glamping-N9 .cardset.cardset-user .cardset-figure{width: 10rem; height: 10rem; margin: 0 0 2rem 0;}
.glamping-N9 .cardset.cardset-user::after{display:none}
.glamping-N9 .cardset.cardset-user .cardset-profile{padding: 0; text-align: left;}
.glamping-N9 .cardset .cardset-profile h3{color: #666; font-size: 1.6rem; font-weight: 400;}
.glamping-N9 .cardset .cardset-profile h3 span{color: #222; font-size: 2rem; font-weight: 600;}
.glamping-N9 .cardset .cardset-profile h4{font-size: 1.5rem; font-weight: 500;}
.glamping-N9 .cardset.cardset-user .cardset-text{margin: 2rem 0; color: #444; font-size: 1.6rem; text-align: left;}
.glamping-N9 .cardset .mentor-stack{margin: 2rem 0;}
.glamping-N9 .cardset .mentor-stack li{display: inline-block; margin-right: 0.5rem; padding: 0 1rem; border-radius: 0.5rem; border: 1px solid #7918F2; color: #7918F2; font-size: 1.4rem;}
.glamping-N9 .cardset .cardset-btn{display: block; width: 100%; margin: 0 auto; padding: 1rem; border-radius: 1rem; border: none; background-color: #7918F2; color: #fff; font-size: 1.5rem; font-weight: 500; text-align: center;}
.glamping-N9 .cardset .cardset-btn:hover{background-color: #6713d2; transition: all 0.3s ease-in-out;}
.glamping-N9 .contents-control { display: flex; align-items: center; justify-content: center; gap: 0.8rem; position: absolute; right: 0; bottom: 4rem; }
.glamping-N9 .swiper-button-next,.glamping-N9 .swiper-button-prev { position: relative; left: 0; right: 0; width: 3.2rem; height: 3.2rem; background-color: var(--line-color4); border-radius: 50%;}
.glamping-N9 .swiper-button-prev:after { content: ''; width: 2rem; height: 2rem; background-image: url("../../resources/icons/ico_arrow_left_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.glamping-N9 .swiper-button-prev:hover::after,.glamping-N9 .swiper-button-next:hover::after { opacity: 1; }
.glamping-N9 .swiper-button-next:after { content: ''; width: 2rem; height: 2rem; background-image: url("../../resources/icons/ico_arrow_right_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.glamping-N9 .pagiset {position: relative; display:flex; justify-content: center; align-items: center; margin: 4rem 0;}
.glamping-N9 .pagiset{margin: 4rem 0;}
.glamping-N9 .pagiset.pagiset-circ .pagiset-link{border-radius: 1rem;}
.glamping-N9 .pagiset .pagiset-link.active-fill{background-color: #7918F2;}
@media (max-width: 992px) {
 .glamping-N9 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N9 .textset {margin-bottom: 0;}
 .glamping-N9 .textset-tit+.textset-desc { margin-top: 0.5rem; }
 .glamping-N9 .swiper-slide { width: 100%; }
 .glamping-N9 .contents-control { top: 0.5rem; left: 50%; transform: translateX(-50%); }
}


