@charset "utf-8"; 

/* campland-N1 [OLLSN6oqdb] */
.campland-N1 { top: -100%; transition: .3s; width: 100%; z-index: 99; background-color: var(--white); }
.campland-N1.header-top-active { position: fixed; top: 0; }
.campland-N1 .header-container { position: relative; display: flex; align-items: center; justify-content: space-between; width: 100%; height: 8rem; padding: 0 5rem; background-color: var(--white); z-index: 200; }
.campland-N1 .header-title { margin-bottom: 0; }
.campland-N1 .header-title a { width: 16.3rem; height: 3.9rem; }
.campland-N1 .header-title img { width: 100%; height: 100%; object-fit: contain; }
.campland-N1 .header-center { position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
.campland-N1 .header-member { display: none; }
.campland-N1 .header-gnblist { display: flex; justify-content: center; }
.campland-N1 .header-gnblink { padding: 2.8rem 2rem; font-size: var(--fs-p2); font-weight: 500; text-align: center; white-space: nowrap; }
.campland-N1 .header-gnblink span { position: relative; }
.campland-N1 .header-gnblink span::after { content: ""; height: 0.2rem; width: 100%; transition: 0.3s; transform: scaleX(0); }
.campland-N1 .header-sublist { min-height: 0; position: absolute; top: 100%; transition: 0.3s; opacity: 0; overflow: hidden; pointer-events: none; }
.campland-N1 .header-gnbitem:hover .header-sublist { min-height: auto; opacity: 1; overflow: hidden; pointer-events: auto; }
.campland-N1 .header-gnbitem:hover .header-gnblink span::after { content: ""; display: inline-block; position: absolute; left: 0; top: 100%; background-color: var(--text-color1); transform: scaleX(1); }
.campland-N1 .header-subitem { width: 14rem; background-color: var(--white); overflow: hidden; }
.campland-N1 .header-sublink { width: 100%; padding: 1rem 2rem; font-size: var(--fs-p3); font-weight: 500; }
.campland-N1 .header-sublink:hover { background-color: var(--primary); color: var(--text-color6); }
.campland-N1 .header-right { display: flex; align-items: center; }
.campland-N1 .header-utils { display: flex; align-items: center; }
.campland-N1 .header-utils-btn { width: 3.2rem; height: 3.2rem; background: none; border: none; }
.campland-N1 .header-utils-btn+.header-utils-btn { margin-left: 1.6rem; }
.campland-N1 .header-utils-btn img { width: 100%; height: 100%; object-fit: contain; vertical-align: top; }
.campland-N1 .btn-momenu { display: none; }
.campland-N1 .btn-moclose { display: none; }
.campland-N1 .header-fullmenu { position: fixed; z-index: 99999; padding: 0 2.4rem; background-color: #000; transition: 0.3s; opacity: 0; visibility: hidden; overflow: hidden; }
.campland-N1 .header-fullmenu.fullmenu-right { width: 0; height: 100%; top: 0; right: 0; }
.campland-N1 .header-fullmenu.fullmenu-left { width: 0; height: 100%; top: 0; left: 0; }
.campland-N1 .header-fullmenu.fullmenu-top { top: 0; left: 0; width: 100%; height: 0; }
.campland-N1 .header-fullmenu.fullmenu-bottom { bottom: 0; left: 0; width: 100%; height: 0; }
.campland-N1 .header-fullmenu.fullmenu-active { width: 100%; height: 100vh; opacity: 1; visibility: visible; }
.campland-N1 .fullmenu-wrapper { position: relative; top: 50%; transform: translateY(-50%); width: 100%; max-width: 128rem; margin: 0 auto; }
.campland-N1 .fullmenu-head { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10rem; }
.campland-N1 .fullmenu-title { margin-bottom: 0; }
.campland-N1 .fullmenu-title a { width: 13.6rem; height: 4.3rem; }
.campland-N1 .fullmenu-title img { width: 100%; height: 100%; object-fit: contain; }
.campland-N1 .fullmenu-member { display: flex; }
.campland-N1 .fullmenu-member li { position: relative; }
.campland-N1 .fullmenu-member li a { padding: 1.2rem; font-size: var(--fs-p1); font-weight: 500; color: var(--text-color6); }
.campland-N1 .fullmenu-member li+li::after { content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.1rem; height: 1.4rem; background-color: rgba(255, 255, 255, 0.2); }
.campland-N1 .fullmenu-gnblist { display: flex; justify-content: center; }
.campland-N1 .fullmenu-gnbitem { width: 20%; }
.campland-N1 .fullmenu-gnbitem+.fullmenu-gnbitem { margin-left: 4rem; }
.campland-N1 .fullmenu-gnblink { position: relative; width: 100%; padding-bottom: 4rem; font-size: var(--fs-h5); font-weight: 500; color: var(--text-color6); border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.campland-N1 .fullmenu-gnblink::after { content: ""; position: absolute; left: 0; bottom: 0; display: block; width: 0; height: 0.1rem; background-color: #ffffff; transition: 0.2s; }
.campland-N1 .fullmenu-gnblink.on::after { width: 18rem; }
.campland-N1 .fullmenu-sublist { padding-top: 4rem; }
.campland-N1 .fullmenu-subitem+.fullmenu-subitem { padding-top: 0.8rem; }
.campland-N1 .fullmenu-sublink { font-size: var(--fs-p1); font-weight: 400; color: #a2a2a2; }
.campland-N1 .fullmenu-close { position: fixed; right: 5rem; top: 2.4rem; width: 3.2rem; height: 3.2rem; background-color: transparent; border: none; }
.campland-N1 .fullmenu-close img { width: 100%; height: 100%; object-fit: cover; }
@media (max-width: 992px) {
 .campland-N1.block-active .header-center { position: absolute; left: 0; transform: translateX(0); width: 100%; padding: 0 3.2rem 0 1.6rem; padding-bottom: 19rem; overflow-y: auto; background-color: #ffff; }
 .campland-N1.block-active .header-title { height: 6rem; display: flex; align-items: center; }
 .campland-N1.block-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .campland-N1.block-active .header-member a { padding: 0; background: none; border: none; padding-right: 1.2rem; }
 .campland-N1.block-active .header-member a+a { padding-left: 1.2rem; padding-right: 0; }
 .campland-N1.block-active .header-gnblist { display: block; height: 100%; }
 .campland-N1.block-active .header-gnblink { align-items: center; justify-content: space-between; border-bottom: 1px solid #e5e5e5; }
 .campland-N1.block-active .header-gnblink::after { content: ""; display: flex; width: 1.6rem; height: 1.6rem; background-image: url("../../resources/icons/ico_downarrow_black.svg"); background-repeat: no-repeat; background-position: center right; background-size: contain; transition: .3s; }
 .campland-N1.block-active .header-gnbitem.item-active .header-gnblink::after { content: ""; transform: rotate(180deg); }
 .campland-N1.block-active .header-member { display: flex; font-size: var(--fs-p2); }
 .campland-N1.block-active .header-utils-btn, .campland-N1.block-active .btn-momenu { display: none; }
 .campland-N1.block-active .btn-moclose { display: block; }
 .campland-N1 .header-container { padding: 0 1.6rem; height: 5.6rem; }
 .campland-N1 .header-title a { width: 9.8rem; height: 2.4rem; }
 .campland-N1 .header-center { top: 100%; left: 100%; transition: .3s; height: calc(100vh - 6rem); overflow-y: auto; }
 .campland-N1 .header-gnblist { display: none; width: 100%; flex-direction: column; }
 .campland-N1 .header-gnblink { display: flex; align-items: flex-end; width: 100%; padding: 2rem 0; text-align: left; }
 .campland-N1 .header-gnbitem:hover .header-gnblink span { border: none; }
 .campland-N1 .header-gnbitem:hover .header-gnblink span::after { content: none; }
 .campland-N1 .header-sublist { display: none; position: relative; opacity: 1; padding: 2rem 0 4rem 0; }
 .campland-N1 .header-gnbitem.item-active .header-gnblink { border-bottom: 1px solid #111111; }
 .campland-N1 .header-gnbitem.item-active .header-sublist { display: block; }
 .campland-N1 .header-subitem { width: 100%; }
 .campland-N1 .header-subitem+.header-subitem { padding-top: 0.8rem; }
 .campland-N1 .header-sublink { padding: 0; color: var(--text-color3); }
 .campland-N1 .header-sublink:active { color: #111111; }
 .campland-N1 .header-sublink:hover { background-color: #ffff; color: #111111; }
 .campland-N1 .header-utils-btn { width: 2.8rem; height: 2.8rem; }
 .campland-N1 .header-utils-btn+.header-utils-btn { margin-left: 0.8rem; }
 .campland-N1 .btn-allmenu, .campland-N1 .btn-search { display: none; }
 .campland-N1 .btn-momenu { display: block; }
 .campland-N1 .header-fullmenu { display: none; }
}

/* campland-N10 [fmLSn6qZhU] */
.campland-N10 { overflow: hidden; }
.campland-N10 .contents-inner { padding: 8rem 1.6rem; }
.campland-N10 .contents-body { display: flex; justify-content: space-between; margin: 4rem 0 8rem 0; }
.campland-N10 .contents-left { position: relative; width: 50%; min-height: 56.3rem; }
.campland-N10 .contents-left .imageset { position: absolute; top: 0; left: 0; width: calc(50% + 20rem); height: 46rem; }
.campland-N10 .contents-left .imageset+.imageset { top: auto; left: auto; right: 0; bottom: 0; width: calc(50% + 10rem); height: 42rem; }
.campland-N10 .contents-right { width: calc(50% - 7.2rem); }
.campland-N10 .contents-group+.contents-group { margin-top: 2.8rem; padding-top: 2.8rem; border-top: 1px solid var(--line-color1); }
.campland-N10 .contents-subtit { font-size: var(--fs-h5); line-height: var(--lh-h5); font-weight: 500; }
.campland-N10 .contents-list { margin-top: 1.6rem; }
.campland-N10 .contents-item { display: flex; align-items: center; justify-content: space-between; gap: 1rem; font-size: var(--fs-p2); line-height: var(--lh-p2); }
.campland-N10 .contents-item span { display: inline-block; }
.campland-N10 .contents-button { text-align: center; }
@media (max-width: 992px) {
 .campland-N10 .contents-inner { padding: 3rem 1.6rem; }
 .campland-N10 .contents-body { flex-direction: column; margin: 2rem 0 4rem 0; }
 .campland-N10 .contents-left { width: 100%; min-height: 30rem; }
 .campland-N10 .contents-left .imageset { width: calc(100% - 8rem); height: 22.6rem; }
 .campland-N10 .contents-left .imageset+.imageset { width: calc(100% - 8.8rem); height: 24rem; }
 .campland-N10 .contents-right { width: 100%; margin-top: 4rem; }
}

/* campland-N14 [gGLsN8ENvY] */
.campland-N14 { overflow: hidden; }
.campland-N14 .contents-inner { padding: 8rem 1.6rem; }
@media (max-width: 992px) {
 .campland-N14 .contents-inner { padding: 3rem 1.6rem; }
}

/* campland-N18 [GzLSO1gmnE] */
.campland-N18 { overflow: hidden; }
.campland-N18 .contents-inner { padding: 8rem 1.6rem; }
.campland-N18 .contents-container { position: relative; }
.campland-N18 .form-body { margin: 0 0 8rem; padding: 0 7rem; }
.campland-N18 .contents-group .calendar-wrap { margin: 0; }
.campland-N18 .date-picker-wrapper { position: relative; padding: 0; width: 100%; background-color: var(--white); border: 0 none; }
.campland-N18 .date-picker-wrapper .drp_top-bar,.campland-N18 .date-picker-wrapper .gap { display: none; }
.campland-N18 .date-picker-wrapper .month-wrapper { width: 100% !important; margin: 0 auto; padding: 0; border: 0 none; }
.campland-N18 .date-picker-wrapper .time { display: none; }
.campland-N18 .date-picker-wrapper table .caption { position: relative; }
.campland-N18 .date-picker-wrapper .caption { overflow: hidden; position: relative; }
.campland-N18 .date-picker-wrapper .month-element { display: block; }
.campland-N18 .date-picker-wrapper .month-name .month-element:first-child { position: absolute; left: 55%; }
.campland-N18 .date-picker-wrapper .month-name .month-element:last-child { position: relative; margin-left: -4rem; }
.campland-N18 .date-picker-wrapper .month-name .month-element:last-child::after { content: "."; }
.campland-N18 .date-picker-wrapper .prev,.campland-N18 .date-picker-wrapper .next { display: block; position: absolute; top: 25rem; width: 5rem; height: 5rem; padding: 0 !important; opacity: 0.7; }
.campland-N18 .date-picker-wrapper .prev { right: calc(100% + 2rem); }
.campland-N18 .date-picker-wrapper .next { left: calc(100% + 2rem); }
.campland-N18 .date-picker-wrapper .prev:hover,.campland-N18 .date-picker-wrapper .next:hover { background-color: transparent !important; opacity: 1; }
.campland-N18 .date-picker-wrapper .icon { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; background-repeat: no-repeat; background-size: contain; }
.campland-N18 .date-picker-wrapper .icon.icon-arrow-left { background-image: url("../../resources/icons/ico_left_circle_black.svg"); }
.campland-N18 .date-picker-wrapper .icon.icon-arrow-right { background-image: url("../../resources/icons/ico_right_circle_black.svg"); }
.campland-N18 .date-picker-wrapper .month-wrapper table .real-today { background-color: transparent; }
.campland-N18 .date-picker-wrapper .month-wrapper table,.campland-N18 .date-picker-wrapper .month-wrapper table.month2 { width: calc(50% - 1rem); }
.campland-N18 .date-picker-wrapper .month-wrapper table.month2 { float: right; }
.campland-N18 .date-picker-wrapper .month-wrapper table td,.campland-N18 .date-picker-wrapper .month-wrapper table th { padding: 0.5rem 0; width: 8rem; line-height: 6.8rem; font-size: var(--ht-xs); font-weight: 500; font-family: var(--ff-en); color: var(--text-color1); }
.campland-N18 .date-picker-wrapper .month-wrapper table .week-name th { font-size: var(--fs-p2); font-weight: 500; font-family: var(--ff-en); color: var(--text-color1); }
.campland-N18 .date-picker-wrapper .month-wrapper table .week-name th:first-child { color: #de3636 !important; }
.campland-N18 .date-picker-wrapper .month-wrapper table .day { margin: 0.4rem auto 0.4rem auto; padding: 0; height: var(--ht-xl); line-height: var(--ht-xl); font-size: var(--fs-p2); font-weight: 400; font-family: var(--ff-en); }
.campland-N18 .date-picker-wrapper .month-wrapper table .day.toMonth.hovering { background-color: #FFBD98; }
.campland-N18 .date-picker-wrapper .month-wrapper table tr td:first-child .day.toMonth.valid { color: #de3636 !important; }
.campland-N18 .date-picker-wrapper.date-range-picker19 .first-date-selected,.campland-N18 .date-picker-wrapper.date-range-picker19 .last-date-selected { z-index: 1; position: relative; margin: 0 auto; width: var(--ht-xl); height: var(--ht-xl); background-color: var(--primary) !important; border-radius: 50%; }
.campland-N18 .date-picker-wrapper .month-wrapper table td { position: relative; }
.campland-N18 .date-picker-wrapper .month-wrapper table td.first::after,.campland-N18 .date-picker-wrapper .month-wrapper table td.last::after { content: ""; position: absolute; top: 50%; transform: translateY(-50%); width: 50%; height: var(--ht-xl); background-color: #FFBD98; }
.campland-N18 .date-picker-wrapper .month-wrapper table td.first::after { left: 50%; }
.campland-N18 .date-picker-wrapper .month-wrapper table td.last::after { left: 0; }
.campland-N18 .date-picker-wrapper .month-wrapper table .first-date-selected { z-index: 1; position: relative; color: var(--text-color6); background-color: #c6a582; }
.campland-N18 .date-picker-wrapper .month-wrapper table .checked { color: var(--text-color6) !important; background-color: #FFBD98; }
.campland-N18 .form-wrap { display: flex; justify-content: flex-start; margin: 4rem 0 1.8rem; }
.campland-N18 .form-wrap .input-group { width: calc(100% / 4); }
.campland-N18 .form-wrap .input-group+.input-group { margin-left: 2rem; }
.campland-N18 .form-wrap .input-group .contents-btn-group { display: flex; justify-content: space-between; align-items: center; height: var(--ht-md); padding: 0 1.6rem; font-size: var(--fs-p2); border: 1px solid var(--line-color3); border-radius: 0.8rem; }
.campland-N18 .input-group .inputset.disabled { background-color: var(--highlight-bg2); }
.campland-N18 .input-group .inputset.disabled .inputset-input { color: var(--text-color1); }
.campland-N18 .input-group .inputset-input { padding: 0 1.6rem; border-color: transparent; }
.campland-N18 .input-group .inputset-input:focus { outline: none !important; }
.campland-N18 .form-wrap .input-group .btnset { padding: 0; min-width: 0; background-color: transparent; border: 0 none; }
.campland-N18 .form-wrap .form-wrap:last-child { margin-right: 0; }
.campland-N18 .label { margin-bottom: 0.8rem; font-size: var(--fs-p2); font-weight: 500; }
.campland-N18 .inputset,.campland-N18 .inputset::placeholder { color: var(--text-color1); }
.campland-N18 .form-wrap .input-group:nth-of-type(n + 3) .inputset-input { text-align: center; }
.campland-N18 .input-group .icon { width: 2.4rem; height: 2.4rem; margin-bottom: 0; }
.campland-N18 .input-group .icon img { width: 100%; height: 100%; object-fit: contain; }
.campland-N18 .contents-bottom { margin-top: 4rem; text-align: center; }
.campland-N18 .contents-desc { position: relative; padding-left: 1rem; line-height: var(--lh-p2); font-size: var(--fs-p2); color: var(--text-color3); }
.campland-N18 .contents-desc::before { position: absolute; left: 0; top: 0; content: "*"; }
@media (max-width: 992px) {
 .campland-N18 .contents-inner { padding: 3rem 1.6rem; }
 .campland-N18 .form-body { margin-bottom: 4rem; padding: 0; }
 .campland-N18 .date-picker-wrapper .month-name .month-element:first-child { left: 52%; }
 .campland-N18 .date-picker-wrapper .month-wrapper table td, .campland-N18 .date-picker-wrapper .month-wrapper table th { padding: 0.3rem 0; min-height: 4.4rem; line-height: 4.4rem; }
 .campland-N18 .date-picker-wrapper table .caption { height: 4.4rem; }
 .campland-N18 .date-picker-wrapper .prev, .campland-N18 .date-picker-wrapper .next { top: 50%; transform: translateY(-50%); width: 4.4rem; height: 4.4rem; z-index: 50; }
 .campland-N18 .date-picker-wrapper .prev { left: 0; }
 .campland-N18 .date-picker-wrapper .next { left: auto; right: 0; }
 .campland-N18 .date-picker-wrapper .month-name { position: absolute; left: 50%; transform: translateX(-50%); width: 100% !important; font-size: var(--fs-h4); line-height: var(--lh-h4); }
 .campland-N18 .date-picker-wrapper .month-wrapper { flex-direction: column; margin-bottom: 2rem !important; width: 100% !important; }
 .campland-N18 .date-picker-wrapper .month-wrapper table, .campland-N18 .date-picker-wrapper .month-wrapper table.month2 { width: 100%; }
 .campland-N18 .date-picker-wrapper .month-wrapper table.month2 { margin-top: 2rem; }
 .campland-N18 .date-picker-wrapper .month-wrapper table .day { font-size: var(--fs-p2); }
 .campland-N18 .days-wrap { display: inline-block; margin: 0 4rem; padding: 0 1.2rem; width: 5.2rem; min-width: 5.2rem; height: 5.2rem; text-align: center; line-height: 5.2rem; font-size: var(--fs-h6); font-weight: 400; letter-spacing: -0.25rem; white-space: nowrap; border-radius: 0.5rem; background-color: var(--con-bg); }
 .campland-N18 .selected-days { padding: 0; width: 55%; font-size: inherit; border: 0 none; background-color: transparent; }
 .campland-N18 .form-wrap { flex-wrap: wrap; gap: 1.6rem 0.8rem; margin: 2rem 0 1.6rem 0; }
 .campland-N18 .form-wrap .input-group { width: calc(100% / 2 - 0.8rem); }
 .campland-N18 .form-wrap .input-group+.input-group { margin-left: 0; }
 .campland-N18 .form-wrap .input-group.contents-amount { width: 100%; }
 .campland-N18 .input-group .icon { width: 2rem; height: 2rem; }
 .campland-N18 .form-wrap .contents-bottom { display: flex; justify-content: center; flex-wrap: wrap; margin: 0; }
}

/* campland-N21 [xWLSo1gi54] */
.campland-N21 { overflow: hidden; }
.campland-N21 .contents-inner { padding: 8rem 1.6rem; }
.campland-N21 .form-wrap+.form-wrap { margin-top: 1.6rem; }
.campland-N21 .form-wrap .form-tit { min-width: 8.9rem; }
.campland-N21 .contents-form-group { /*display: flex;*/ width: 100%; }
.campland-N21 .contents-form-group+.contents-form-group { margin-left: 8rem; }
.campland-N21 .form-wrap .inputset { width: 100%; }
.campland-N21 .inputset-textarea { height: 12rem; }
.campland-N21 .contents-bottom { margin-top: 2.8rem; }
.campland-N21 .contents-tit { font-size: var(--fs-p2); line-height: var(--lh-p2); font-weight: 500; }
.campland-N21 .contents-board { max-height: 14rem; overflow-y: auto; margin: 0.8rem 0; padding: 1.6rem 1.6rem 4rem 1.6rem; font-size: var(--fs-p2); line-height: var(--lh-p2); color: #767676; border: 1px solid var(--border-color); border-radius: 0.8rem; }
.campland-N21 .contents-confirm { margin-top: 8rem; text-align: center; }
@media (max-width: 992px) {
 .campland-N21 .contents-inner { padding: 3rem 1.6rem; }
 .campland-N21 .form-wrap { flex-direction: column; }
 .campland-N21 .contents-form-group+.contents-form-group { margin-left: 0; }
 .campland-N21 .contents-form-group { flex-direction: column; gap: 0.8rem; }
 .campland-N21 .contents-confirm { margin-top: 4rem; text-align: center; }
}

/* 멘토링 예약
    #reserveApp .rounded {
        -moz-border-radius: 20px 20px 20px 20px;
        border-radius: 20px 20px 20px 20px;
        border: solid 1px rgb(121, 24, 242);
        background-color: rgb(121, 24, 242);
        padding: 10px;
        color: #ffffff;
    }

    #reserveApp .inputset.inputset-round .inputset-input {
        border-radius: 2.6rem;
        width: 70%;
        padding: 0 2rem;
    }

    #reserveApp .selectedInfo {
        font-size: 18px;
        font-weight: 500;
        color: rgb(121, 24, 242);
        letter-spacing: -0.05em;
    }

    #reserveApp .time_info_box {
        position: relative;
        display: inline-block;
        width: 55px;
        height: 35px;
        background-color: #E6E0FA;
        border: rgb(121, 24, 242);
        font-size: 13px;
        line-height: 33px;
        text-align: center;
        color: #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        padding: 0px !important;
    }

    #reserveApp .time-select {
        background-color: rgb(121, 24, 242);
        color: white;
    }

    #reserveApp .time-unable {
        background-color: #eaeaea;
        color: white;
        cursor: default;
    }

    #reserveApp .d-none {
        display: none !important
    }

    #reserveApp .reserve_tit {
        font-size: 4.5rem;
        font-weight: 300;
    }

    #reserveApp .textset {
        position: relative;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    #reserveApp .btnset {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 18rem;
        padding: 0 2rem;
        height: var(--ht-lg);
        font-size: var(--fs-p3);
        color: var(--white);
        background-color: rgb(121, 24, 242);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(121, 24, 242);
        border-radius: 0.6rem;
        font-weight: 500;
        letter-spacing: var(--letter-spacing);
        transition: .3s;
    }

    #reserveApp .btnset.btnset-line.btnset-black {
        border-color: rgb(121, 24, 242);
        color: rgb(121, 24, 242);
    }

 */