@charset "utf-8"; 

/* basic-N3 [uFLsb2Fh4v] */
.basic-N3 {position: fixed; top: 0; left: 0; width: 100%; z-index: 99999; transition: 0.3s;}
.basic-N3.header-top-active { position: fixed; top: 0; }
.basic-N3.header-menuactive .header-inner { z-index: 200; }
.basic-N3.header-menuactive .header-inner::before { height: 37.3rem; }
.basic-N3.header-menuactive .header-gnblist { position: absolute; top: calc(100% + 12rem); left: 50%; transform: translateX(-50%); }
.basic-N3.header-menuactive .header-gnblink { font-size: var(--fs-h4); line-height: var(--lh-h4); font-weight: 400; }
.basic-N3.header-menuactive .header-utils .header-btn { display: none; }
.basic-N3.header-menuactive .header-utils .btn-close { display: block; }
.basic-N3 .header-inner { position: relative; width: 100%; height: 8rem; padding: 0; background-color: white;}
.basic-N3 .header-inner::before { content: ''; position: absolute; top: 0; left: 0; height: 8rem; width: 100%; z-index: -1; transition: 0.3s; }
.basic-N3 .header-container { display: flex; justify-content: space-between; align-items: center; height: 100%;}
.basic-N3 .header-title a {font-size: 3rem; font-weight: bold;}
.basic-N3 .header-title img { width: 100%; height: 100%; object-fit: contain; }
.basic-N3 .header-left {display: flex; align-items: center; gap: 4rem;}
.basic-N3 .header-mobile-top { display: none; }
.basic-N3 .header-mobile-group .btn-close { display: none; position: absolute; top: 1.4rem; right: calc(100% + 0.8rem); }
.basic-N3 .header-gnblist { display: flex; align-items: center; }
.basic-N3 .header-gnbitem:hover .header-gnblink span::after,.basic-N3 .header-gnbitem.item-active .header-gnblink span::after { content: ''; display: inline-block; position: absolute; left: 0; top: 100%; background-color: var(--primary); transform: scaleX(1); }
.basic-N3 .header-gnbitem+.header-gnbitem .header-gnblink { padding-left: 3rem; }
.basic-N3 .header-gnbitem:last-child .header-gnblink { padding-right: 0; }
.basic-N3 .header-gnblink {padding-right: 3rem; font-size: var(--fs-p3); line-height: var(--lh-p3); font-weight: 600; text-align: center; white-space: nowrap; }
.basic-N3 .header-gnblink span { position: relative; }
.basic-N3 .header-gnblink span::after { content: ''; height: 0.2rem; width: 100%; transition: 0.3s; transform: scaleX(0); }
.basic-N3 .header-right { display: flex; }
.basic-N3 .header-btn { width: 3.2rem; height: 3.2rem; background: none; border: none; }
.basic-N3 .header-btn img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.basic-N3 .header-utils { display: flex; }
.basic-N3 .header-utils .header-btn+.header-btn { margin-left: 1.2rem; }
.basic-N3 .header-utils .btn-close { display: none; position: relative; z-index: 200; }
.basic-N3 .header-utils .btn-momenu { display: none; }
.basic-N3 .header-dim { display: none; position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; background-color: rgba(17, 17, 17, 0.7); }
@media(max-width: 1366px) {
		
}
/* @media (max-width: 1200px) {
 .basic-N3 .header-container { padding: 0 1.25rem; }
 .basic-N3 .header-left { gap: 4rem; }
} */
@media (max-width: 992px) {
 .basic-N3.momenu-active .header-mobile-group { right: 0; width: calc(100% - 10rem); }
 .basic-N3.momenu-active .header-gnblist { display: block; height: 100%; overflow-y: auto; }
 .basic-N3.momenu-active .header-gnbitem.item-active .header-gnblink::after { content: ''; transform: rotate(180deg); }
 .basic-N3.momenu-active .header-mobile-group .btn-close { display: block; }
 .basic-N3 .header-inner { height: 6rem; }
 .basic-N3 .header-inner::before { content: none; }
 .basic-N3 .header-container { align-items: center; padding: 0 1.5rem; }
 .basic-N3 .header-left { gap: 0; }
 .basic-N3 .header-title a {font-size: 2rem;}
 .basic-N3 .header-mobile-group { flex-direction: column; position: fixed; top: 0; right: -100%; width: 100%; height: 100%; background-color: var(--white); z-index: 200; transition: 0.3s; }
 .basic-N3 .header-mobile-top { height: 6rem; display: flex; align-items: center; justify-content: space-between; padding: 0 2rem; }
 .basic-N3 .header-mobile-top p { font-size: var(--fs-p3); color: var(--text-color3); }
 .basic-N3 .header-mobile-top a { font-size: var(--fs-p3); font-weight: 500; }
 .basic-N3 .header-gnbitem:hover, .basic-N3 .header-gnbitem.item-active { background-color: var(--highlight-bg); }
 .basic-N3 .header-gnbitem:hover .header-gnblink span::after, .basic-N3 .header-gnbitem.item-active .header-gnblink span::after { content: none; }
 .basic-N3 .header-gnblink { width: 100%; padding: 1.4rem 2rem !important; font-size: var(--fs-p3); font-weight: 500; text-align: left; }
 .basic-N3 .header-btn { width: 2.8rem; height: 2.8rem; }
 .basic-N3 .header-utils .btn-allmenu, .basic-N3 .header-utils .btn-user { display: none; }
 .basic-N3 .header-utils .btn-momenu { display: block; }
}

/* basic-N39 [SnLsb2H56a] - Main Visual */
.basic-N39 {width: 100%; height: 40rem; background-image: url(https://images.unsplash.com/photo-1553877522-43269d4ea984?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-repeat: no-repeat; background-size: cover; background-position: center;}
.basic-N39 .contents-inner {padding: 0 1.25rem;}
.basic-N39 .textset {padding-top: 12rem;}
.basic-N39 .textset.textset-visual .textset-tit {color: #fff; font-size: 4.5rem; font-weight: 700; line-height: 6rem; text-align: left;}
.basic-N39 .textset-desc {color: #f9f9f9; text-align: left;}
.basic-N39 .btnset {border-color: #fff; color: #fff;}
.basic-N39 .btnset:hover {background-color: #fff; border-color:#fff; color: #222;}

/* swiper-slide */
/* .basic-N39 .contents-swiper { position: relative; width: calc(100% + 48rem); margin-left: -24rem; overflow: hidden; border-radius: 2rem; }
.basic-N39 .swiper-wrapper { width: 100%; height: 80rem; }
.basic-N39 .swiper-slide { position: relative; }
.basic-N39 .contents-backimg { width: 100%; height: 100%; object-fit: cover; }
.basic-N39 .contents-slide-group { position: absolute; left: 24rem; top: 50%; transform: translateY(-50%); z-index: 1; }

.basic-N39 .contents-control { display: flex; align-items: center; gap: 1.6rem; position: absolute; left: 50%; bottom: 4rem; transform: translateX(-50%); z-index: 100; }
.basic-N39 .swiper-button-prev,.basic-N39 .swiper-button-next { position: static; width: 2rem; height: 2rem; margin-top: 0; }
.basic-N39 .swiper-button-prev:after { content: ''; width: 2rem; height: 2rem; background-image: url("../images/icons/ico_btnset_arrow_white_sm.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; transform: rotate(180deg); }
.basic-N39 .swiper-button-prev:hover::after { opacity: 1; }
.basic-N39 .swiper-button-next:after { content: ''; width: 2rem; height: 2rem; background-image: url("../images/icons/ico_btnset_arrow_white_sm.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.basic-N39 .swiper-button-next:hover::after { opacity: 1; }
.basic-N39 .swiper-pagination { display: flex; align-items: center; position: static; gap: 0.4rem; font-size: 1.6rem; font-weight: 500; color: var(--text-color4); }
.basic-N39 .swiper-pagination-current { font-weight: 500; color: var(--text-color5); }
.basic-N39 .swiper-button-play,.basic-N39 .swiper-button-pause { flex-shrink: 0; width: 2rem; height: 2rem; opacity: 0.5; cursor: pointer; }
.basic-N39 .swiper-button-play img,.basic-N39 .swiper-button-pause img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.basic-N39 .swiper-button-play:hover,.basic-N39 .swiper-button-pause:hover { opacity: 1; }
.basic-N39 .swiper-button-play { display: none; } */

@media (max-width: 992px) {
 /* .basic-N39 .contents-swiper { width: 100%; margin-left: 0; }
 .basic-N39 .swiper-wrapper { height: 60rem; }
 .basic-N39 .contents-slide-group { left: 2.4rem; width: calc(100% - 4.8rem); } */
 .basic-N39 .textset { margin-bottom: 4rem; }
 .basic-N39 .textset-tit { font-size: 3.2rem; }
 .basic-N39 .contents-control { bottom: 2rem; }
}


/* opilsol-N8 [mVLSbF3W3W] */
.opilsol-N8 { position: relative; padding: 8rem; overflow: hidden; }
.opilsol-N8 .content-container { position: relative; }
.opilsol-N8 .container-lg { display: flex; justify-content: flex-end; width: 100%; background-color: var(--white); }
.opilsol-N8 .content-container { display: flex; justify-content: space-between; align-items: center; width: 100%;}
.opilsol-N8 .content-container .left { flex-shrink: 0; position: relative; z-index: 2; width: 100%; max-width: 36rem; height: 100%; background-color: var(--white); }
.opilsol-N8 .content-container .left::before { content: ''; position: absolute; top: 0; right: 100%; width: calc(100vw + 100vw); height: 100%; z-index: 1; background-color: var(--white); }
.opilsol-N8 .textset { margin-right: 2rem; padding: 2rem 0; }
.opilsol-N8 .textset .textset-tit {line-height: 4.5rem; font-size: 4rem;}
.opilsol-N8 .textset .textset-desc {}
.opilsol-N8 .textset .btnset { font-size: var(--fs-p1); font-weight: 500; color: var(--text-color5); }
.opilsol-N8 .right { position: relative; padding-left: 0; width: 70%; z-index: 1; }
.opilsol-N8 .right .slide-container { padding: 1.6rem; width: 100%; }
.opilsol-N8 .right .slide-container .swiper-slide {border-radius: 1rem; box-shadow: 0 1rem 1rem rgba(var(--black-rgb), 0.05);}
.opilsol-N8 .right .slide-container .cardset.cardset-border { border: 0 none; }
.opilsol-N8 .right .slide-container .cardset .cardset-body { padding: 3.2rem; }
.opilsol-N8 .right .slide-container .cardset .cardset-tit { margin-bottom: 2.3rem; line-height: var(--lh-h4); font-size: var(--fs-h4); font-weight: 700; }
.opilsol-N8 .right .slide-container .cardset .cardset-txt { line-height: var(--lh-p1); font-size: var(--fs-p1); font-family: var(--ff-po); }
.opilsol-N8 .swiper-control { display: flex; align-items: center; margin: 4rem 0; position: relative; width: 7rem; }
.opilsol-N8 .swiper-button-prev::after,.opilsol-N8 .swiper-button-next::after { display: none; }
.opilsol-N8 .swiper-button-prev { margin-left: -1.6rem; width: 3.2rem; height: 3.2rem; transform: rotate(-180deg); background: url("../images/icons/ico_slide_arrow_black.svg") center/2.4rem 1.7rem no-repeat; -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -ms-transform: rotate(-180deg); -o-transform: rotate(-180deg); filter: invert(50%); -webkit-filter: invert(50%); }
.opilsol-N8 .swiper-button-next { width: 3.2rem; height: 3.2rem; background: url("../images/icons/ico_slide_arrow_black.svg") center 0.7rem/2.4rem 1.7rem no-repeat; filter: invert(50%); -webkit-filter: invert(50%); }
.opilsol-N8 .swiper-button-prev:hover,.opilsol-N8 .swiper-button-next:hover { filter: invert(0); -webkit-filter: invert(0); }
@media (max-width: 1366px) {
 .opilsol-N8 { padding: 4rem 0; }
 .opilsol-N8 .left { padding: 0 1.6rem; }
}
@media (max-width: 1279px) {
 .opilsol-N8 { position: relative; }
 .opilsol-N8 .content-container { flex-direction: column; align-items: flex-start; padding-bottom: 10rem; }
 .opilsol-N8 .left { position: relative; width: 100%; height: auto !important; }
 .opilsol-N8 .right { width: 100%; height: 40rem; }
 .opilsol-N8 .right .slide-container { padding: 0 0 0 1.6rem; height: 40rem; }
 .opilsol-N8 .right .slide-container .swiper-slide { width: 29.8rem; height: 36.6rem; }
 .opilsol-N8 .right .slide-container .swiper-slide .link-slide { display: block; }
 .opilsol-N8 .right .slide-container .swiper-slide .cardset .cardset-figure { height: 20rem; }
 .opilsol-N8 .right .slide-container .cardset .cardset-body { padding: 2.4rem; }
 .opilsol-N8 .textset { margin-right: 0; }
 .opilsol-N8 .textset .textset-tit { font-size: var(--ht-sm); }
 .opilsol-N8 .btnset-position {width: 100%;}
 .opilsol-N8 .swiper-button-prev, .opilsol-N8 .swiper-button-next { width: 2.8rem; height: 2.8rem; background-size: 2rem 1.7rem; }
 .opilsol-N8 .swiper-button-next { background-position: center 0.45rem; }
}
@media (max-width: 922px) {
 .opilsol-N8 .right .slide-container { padding: 0 1.6rem 0 1.6rem; }
 .opilsol-N8 .right .slide-container .cardset .cardset-tit { font-size: var(--fs-h5); }
 .opilsol-N8 .right .slide-container .cardset .cardset-txt { font-family: var(--ff-ko); }
}


/* basic-N26 [cllSBf0XQr] */
.basic-N26 .contents-inner { padding: 8rem 1.6rem; }
.basic-N26 .textset-desc { display: flex; justify-content: space-between; align-items: flex-end; gap: 2.4rem; }
.basic-N26 .contents-group { display: flex; flex-wrap: wrap; gap: 2rem; }
.basic-N26 .cardset { width: calc(100% / 2 - 1rem); }
@media (max-width: 992px) {
 .basic-N26 .contents-inner { padding: 5rem 1.6rem; }
 .basic-N26 .textset { margin-bottom: 8rem; }
 .basic-N26 .textset-desc { flex-direction: column; align-items: flex-start; }
 .basic-N26 .cardset { width: 100%; }
 .basic-N26 .cardset+.cardset { margin-top: 0; }
 .basic-N26 .cardset.cardset-inner .cardset-figure { height: 30rem; }
}


/* basic-N42 [lllsB2fhUy] */
.basic-N42 { overflow: hidden; }
.basic-N42 .contents-inner { padding: 8rem 1.6rem; }
.basic-N42 .contents-container { position: relative; }
.basic-N42 .textset {text-align: left;}
.basic-N42 .textset-tit+.textset-desc { margin-top: 0.8rem; }
.basic-N42 .swiper-wrapper { margin-bottom: 4rem; }
.basic-N42 .swiper-slide { width: calc(100% / 4 - 3rem); margin-right: 4rem; }
.basic-N42 .cardset .cardset-figure { height: 40rem; }
.basic-N42 .swiper-button-prev,.basic-N42 .swiper-button-next { flex-shrink: 0; width: 4.8rem; height: 4.8rem; border-radius: 50%; background-color: var(--white); border: 1px solid var(--line-color3); }
.basic-N42 .swiper-button-prev { left: auto; right: calc(100% + 4rem); }
.basic-N42 .swiper-button-next { left: calc(100% + 4rem); right: auto; }
.basic-N42 .swiper-button-prev::after,.basic-N42 .swiper-button-next::after { content: ''; display: inline-block; width: 2.4rem; height: 2.4rem; background-repeat: no-repeat; background-position: center; background-size: contain; }
.basic-N42 .swiper-button-prev:after { background-image: url("../images/icons/ico_btnset_arrow_right_black.svg"); transform: rotate(180deg); }
.basic-N42 .swiper-button-next:after { background-image: url("../images/icons/ico_btnset_arrow_right_black.svg"); }
.basic-N42 .swiper-pagination { width: 100%; top: auto; bottom: 0; background-color: #e9e9e9; border-radius: 1rem; overflow: hidden; }
.basic-N42 .swiper-pagination-progressbar-fill { background-color: var(--line-color3); border-radius: 1rem; }
@media (max-width: 992px) {
 .basic-N42 .contents-inner { padding: 5rem 1.6rem; }
 .basic-N42 .swiper-slide, .basic-N42 .cardset { width: 100%; }
 .basic-N42 .swiper-button-prev, .basic-N42 .swiper-button-next { display: none; }
}

/* recruitment */
.recruitment .contents-group{display: flex; justify-content: space-between; align-items: flex-start; gap: 2.5rem;}
.recruitment .calendar{width: 100%; max-width: 40rem;}
.recruitment .recruit-list{width: 100%; max-width: 50%;}
.recruitment .recruit-list li{margin-bottom: 1rem; padding: 1.5rem; border-radius: 1rem; border: 1px solid #eee;}
.recruitment .company-info{display: flex; justify-content: flex-start; align-items: center; gap: 1rem;}
.recruitment .company-logo{max-width: 4.5rem; margin-bottom: 0;}
.recruitment .recruit-info{display: flex; justify-content: space-between; align-items: center; gap: 1rem;}
.recruitment .recruit-work{max-width: 80%; color: #666; font-size: 1.25rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.recruitment .recruit-career{max-width: 20%; font-size: 1.4rem; white-space: nowrap;}

/* basic-N4 [hoLsb2fI8R] */
.basic-N4 { background-color: var(--primary); }
.basic-N4 .footer-container { padding: 2rem 1.5rem; }
.basic-N4 .footer-top { display: flex; justify-content: space-between; position: relative; margin-bottom: 1.6rem; }
.basic-N4 .footer-logo { text-align: center; margin-bottom: 0; }
.basic-N4 .footer-logo a {color: #fff; font-size: 2.4rem; font-weight: 600}
.basic-N4 .footer-logo img { width: 100%; height: 100%; object-fit: contain; }
.basic-N4 .footer-menulist { display: flex; align-items: center; justify-content: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: var(--fs-p4); }
.basic-N4 .footer-menuitem a { padding-right: 1.2rem; color: var(--text-color5); }
.basic-N4 .footer-menuitem+.footer-menuitem a { padding-left: 1.2rem; }
.basic-N4 .footer-menuitem { position: relative; }
.basic-N4 .footer-menuitem+.footer-menuitem::after { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 1.4rem; background-color: rgba(var(--white), 0.1); }
.basic-N4 .footer-snslist { display: flex; align-items: center; }
.basic-N4 .footer-snsitem+.footer-snsitem { margin-left: 0.8rem; }
.basic-N4 .footer-snslink { width: 3.6rem; height: 3.6rem; padding: 0.6rem; }
.basic-N4 .footer-snslink img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.basic-N4 .footer-bottom { padding-top: 2.4rem; border-top: 1px solid rgba(255, 255, 255, 0.1); }
.basic-N4 .footer-txt { display: flex; justify-content: center; color: var(--text-color4); font-size: 1.2rem; line-height: 2.4rem; }
.basic-N4 .footer-txt+.footer-txt { margin-top: 0.3rem; }
.basic-N4 .footer-txt p { margin-bottom: 0; line-height: 1.8rem; }
.basic-N4 .footer-txt p+p { margin-left: 0.8rem; }
.basic-N4 .footer-txt p span+span { margin-left: 0.8rem; }
@media (max-width: 1366px) {
 .basic-N4 .footer-container .container-md{padding: 0 1.5rem}
}
@media (max-width: 992px) {
 .basic-N4 .footer-container { padding: 4rem 1.5rem; }
 .basic-N4 .footer-top { margin-bottom: 0; flex-direction: column; align-items: flex-start; }
 .basic-N4 .footer-logo a {}
 .basic-N4 .footer-menulist { position: relative; left: 0; transform: translate(0); margin-top: 1.3rem; }
 .basic-N4 .footer-menuitem a { padding-right: 0.8rem; }
 .basic-N4 .footer-menuitem+.footer-menuitem a { padding-left: 0.8rem; }
 .basic-N4 .footer-snslist { margin: 2.4rem 0 1.6rem 0; justify-content: center; }
 .basic-N4 .footer-bottom { text-align: left; }
 .basic-N4 .footer-txt { flex-direction: column; }
 .basic-N4 .footer-txt p+p { margin-left: 0; }
}